* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    background: linear-gradient(to bottom right, #1f2020, #0072ff); /* Gradiente vibrante para o fundo da página */
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.avatar {
    width: 120px; /* Largura da imagem do avatar */
    height: 120px; /* Altura igual à largura para manter a proporção */
    border-radius: 50%; /* Bordas arredondadas para formar um círculo */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Sombra mais intensa para destaque */
    border: 3px solid #ffffff; /* Borda branca ao redor da imagem */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

/* Efeito de hover para dar destaque ao avatar */
.avatar:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

h1 {
    font-size: 3em; /* Aumenta o tamanho da fonte */
    color: #fff; /* Cor branca para o título */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para dar destaque */
    letter-spacing: 1px; /* Espaçamento entre letras */
    line-height: 1.2; /* Altura da linha para melhor legibilidade */
}

.tagline {
    color: #f9f9f9; /* Cor suave para a tagline */
    font-size: 1.2em;
}

/* Estilo dos Links */
.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px; /* Espaçamento entre os cartões */
}

.card {
    background-color: #fff; /* Fundo branco para os cartões */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra mais forte para destaque */
    transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves */
}

.card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Sombra mais intensa no hover */
}

.card a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Cor do texto */
    font-size: 1.5em;
    transition: color 0.3s; /* Transição suave na cor do texto */
}

.card a:hover {
    color: #0072ff; /* Cor do texto ao passar o mouse */
}

.card i {
    font-size: 2em; /* Tamanho do ícone */
    margin-right: 15px; /* Espaçamento entre ícone e texto */
    color: #0072ff; /* Cor do ícone */
    transition: color 0.3s; /* Transição suave na cor do ícone */
}

.card a:hover i {
    color: #005bb5; /* Cor do ícone ao passar o mouse */
}


/* Estilo do Footer */

.container-footer {
    width: 100%;
    margin-left: calc((100% - 100vw) / 2); /* Compensa a largura */
    margin-right: calc((100% - 100vw) / 2); /* Compensa a largura */
}

footer {
    position: absolute; /* Posiciona o footer em relação ao primeiro elemento posicionado */
    left: 0; /* Fixa a posição à esquerda */
    right: 0; /* Fixa a posição à direita */
    margin-top: 8rem; /* Margem superior */
    padding: 4rem 0; /* Padding acima e abaixo */
    background-color: black; /* Cor de fundo */
}

  
footer h3 {
    color: #ffcc00; 
    font-size: 2em; 
    font-weight: bold; /* Negrito */
    text-align: center;
    margin-bottom: 1rem;
}

  
  footer .social-links ul {
    margin-block: 1rem;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  footer a img {
    width: 3rem;
  }
  
  footer p {
    font-size: 1rem;
    color: white;
    opacity: 0.5;
  
    transition: 400ms;
  }
  
  footer p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  footer p:hover {
    opacity: 1;
  }

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5em; /* Ajuste o tamanho da fonte em telas menores */
    }

    .container {
        padding: 1rem; /* Menos padding em telas menores */
    }

    .card {
        padding: 1rem; /* Ajuste o padding dos cartões */
    }

    .avatar {
        width: 30vw; /* Aumenta o tamanho da imagem do avatar em telas menores */
    }

    footer h3 {
        font-size: 1.5em; /* Ajuste o tamanho do título do footer */
    }
}